.header-container {
  width: "100%";
}

.time-style {
  float: right;
}

.chat-bubble-container {
  font-size: 11px;
  box-shadow: none;
  margin-top: 10px;
  font-size: 14px;
  min-height: 20px;
  line-height: 16px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 12px 16px;
  border: 1px solid #e7eaec;
  background-color: #f5f5f5;
}
